<div class="profile d-flex justify-content-center mt-2">
  <figure>
    <img class="photo-profile border border-3 rounded-circle m-5" src="//s3-us-west-2.amazonaws.com/s.cdpn.io/55758/random-user-31.jpg" alt="" />
  </figure>
  <header>
    <h1>Maria Gonzalez</h1>
      <p>Client Happiness Manager</p>
  </header>
  <div class="list list-profile border border-3 m-5 border rounded-5 p-4 mx-2 ">
      <h2>Full name </h2> <p>Maria Josephina Gonzalez</p>
      <h2>Date of birth</h2>
        <dd>August 27, 1987</dd>
      <h2>Hometown</h2>
        <dd>Barcelona, Spain</dd>
      <h2>Occupation</h2>
        <dd>Client Happiness Manager</dd>
      <h2>Loves</h2>
        <dd>Skydiving, Tennis, Romantic dinners</dd>
      <h2>Hates</h2>
        <dd>Taxes, bosses instead of leaders</dd>
      <h2>Social</h2>
        <dd>
          <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        </dd>
  </div>
</div> <!-- end profile -->
