<br>
<br>

<div class="sidebar">

  <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
  <br>
  <br>
  <br>
  <a href="#services"><i class="fa fa-fw fa-wrench"></i> Donations</a>
  <br>
  <br>
  <br>
  <a href="#clients"><i class="fa fa-fw fa-user"></i> Rewards</a>
  <br>
  <br>
  <br>
  <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<br>
<br>
