<div class="row pe-4 m-2 banner-margin-top">
  <div class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center mx-auto text-white text-center">
    <div class="container call-to-action d-flex flex-column">
      <h1 class="display-4">what the <strong>HELP</strong>!</h1>
      <p class="lead mb-2">A place for KINDNESS,</p>
      <p class ="lead mb-0 mt-2">A place for YOU.</p>
      <br>
      <%=link_to "/donations/new", class:"start-here" do %>
        <p class="btn btn-edit"><i class="fas fa-heart"></i> START HERE</p>
      <%end%>
    </div>
  </div>
  <div class="col-lg-6 col-sm-8">
    <img class="image" src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
  </div>
</div>
<div class="container mt-5 mb-0">
  <h2 class="call-started d-flex justify-content-center"> Here's what you need to start :</h2>
  <div class="row justify-content-center align-content-center mt-5">
    <div class="steps123 d-flex flex-column align-items-center" style="width: 30%;">
      <div class="step-number-container d-flex justify-content-center align-items-center mb-4">
        <h3 class="step-number ">1</h3>
      </div>
      <div class="card col-lg-3 col-sm-12 ">
        <img src="https://cdn-icons-png.flaticon.com/512/7290/7290863.png" alt>
        <br>
        <h4 class="h4-steps-cards"> Let's start with the basics </h4>
        <p class="p_name_steps"> Sign up with your name and location</p>
      </div>
    </div>
    <div class="steps123 d-flex flex-column align-items-center ml-5 mr-5" style="width: 30%;">
      <div class="step-number-container d-flex justify-content-center align-items-center mb-4">
        <h3 class="step-number ">2</h3>
      </div>
      <div class="card col-lg-3 col-sm-12" style="height: 345.59px;">
        <img src="https://cdn-icons-png.flaticon.com/512/3911/3911932.png" alt>
        <br>
        <h4 class="h4-steps-cards"> Tell us your story </h4>
        <p class="p_name_steps"> Let our helpers know what you need </p>
      </div>
    </div>
    <div class="steps123 d-flex flex-column align-items-center" style="width: 30%;">
      <div class="step-number-container d-flex justify-content-center align-items-center mb-4">
        <h3 class="step-number ">3</h3>
      </div>
      <div class="card col-lg-3 col-sm-12">
        <img src="https://cdn-icons-png.flaticon.com/512/8021/8021362.png" alt>
        <br>
        <h4 class="h4-steps-cards"> Share with friends and family </h4>
        <p class="p_name_steps"> There are plenty of helpers around here </p>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-3 col-sm-12 justify-content-center card-product mt-5 mb-5">
      <img src="https://cdn-icons-png.flaticon.com/512/7736/7736297.png" />
    </div>
    <div class="col-lg-9 col-sm-12 justify-content-center">
      <div class="container">
        <h2 class="butwhy">But why?</h2>
        <br>
        <p class="text-p-charity">what the HELP! was created for people with a <strong>big heart</strong> and great intentions.
        We connect people willing to assist others throughout difficult times of their lives and ensure they are guided on every step of the way.
        Afterall, we believe that we can't always help everyone, but everyone can always help someone. ☺️</p>
      </div>
    </div>
  </div>
</div>
<div class="row row-count">
  <h1 class="counting-title">These many people were supported by WTH</h1>
  <p class="counting-header mt-3 mb-4">Still reading? Here are some real numbers for you.</p>

  <div class="counter d-flex justify-content-center mt-4">
    <div class="col-md-2 col-md-offset-2">
      <h1><span class="value-counting">2,873</span></h1>
      <p class="subtitle-counting"> CAUSES HELPED IN 2021</p>
    </div>

    <div class="col-md-2">
      <h1><span class="value-counting">3,326+</span></h1>
      <p class="subtitle-counting">ACTIVE HELPERS</p>
    </div>

    <div class="col-md-2">
      <h1><span class="value-counting">4,945+</span></h1>
      <p class="subtitle-counting">PEOPLE USED WTH </p>
    </div>

    <div class="col-md-2">
      <h1><span class="value-counting">1,000+</span></h1>
      <p class="subtitle-counting">SATISFIED USERS</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-9 col-sm-12 justify-content-center">
      <div class="container">
        <h2 class="text-align-start">Used what the HELP! and would like to leave a review?</h2>
        <br>
        <br>
        <br>
           <%=link_to "/reviews/new", class:"start-here" do %>
           <p class="btn btn-edit"><i class="fas fa-heart"></i> TELL US WHAT YOU THINK </p>
           <br>
          <%end%>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 justify-content-center card-product mt-4 mb-3">
      <img src="https://cdn-icons-png.flaticon.com/512/4359/4359854.png">
    </div>
  </div>
</div>

  <div class="row justify-content-center align-items-center my-5">
    <figure class="snip1390 col-lg-3 col-sm-12 m-5">
      <img src="https://res.cloudinary.com/dykf9cult/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1662109481/development/xsw6t9sn0ht8yznzze9rjy1qs9vz.jpg" alt="profile-sample3" class="profile" />
      <figcaption>
        <h2>Ana Ferreira</h2>
        <h4>Sao Paulo, SP, Brazil</h4>
        <blockquote>&nbspGetting help was never so easy! This website helped me raise what I needed to pursue my dream and complete my master's degree. Thank you so much to all the helpers out there!</blockquote>
      </figcaption>
    </figure>
    <figure class="snip1390 col-lg-3 col-sm-12 m-5">
      <img src="https://res.cloudinary.com/dykf9cult/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1662109462/development/xn96spn4zhgo0xy5hj6n64agy82r.jpg" alt="profile-sample5" class="profile" />
      <figcaption>
        <h2>Anthony Watts</h2>
        <h4>Dili, Timor, East Timor</h4>
        <blockquote>&nbspNeeded blood donation for my son after a car accident, never thought I'd get so many people supporting so quickly. I'd recommend it to anyone. Words are not enough, THANK YOU! </blockquote>
      </figcaption>
    </figure>
    <figure class="snip1390 col-lg-3 col-sm-12 m-5">
      <img src="https://res.cloudinary.com/dykf9cult/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1662109451/development/qagwmbq53r487xzdtzkyj66ak4lb.jpg" alt="profile-sample6" class="profile" />
      <figcaption>
        <h2>Patti Malach</h2>
        <h4>Saskatoon, SK, Canada</h4>
        <blockquote>&nbspLove the community and how helpful people can be. This website brings the best out of people, and encourages someone who just needs to see who's around to help. </blockquote>
      </figcaption>
    </figure>
  </div>
</div>
