
<div body class="d-flex">
  <!-- For demo purpose -->
  <div class="container-fluid">
    <div class="col-lg-12 d-flex justify-content-center align-items-center mx-auto text-white text-center">
      <div class="d-flex flex-column pe-4 p m-2">
        <div class="call-to-action d-flex flex-column">
          <h1 class="display-4">what the <strong>HELP!</strong></h1>
          <p class="lead mb-0">Not all heroes wear capes. Be someone's hero and support a cause today</p>
          <br>
          <%=link_to "#" do %>
            <p class="btn btn-primary"><i class="fa-solid fa-hand-heart"></i>Find out more</p>
          <%end%>
        </div>
      </div>
      <img class="image" src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
   </div>
  </div>

</div>
