
<div class="d-flex">
  <!-- For demo purpose -->
  <div class="container-fluid">
    <div class="banner-margin-top col-lg-12 d-flex justify-content-center align-items-center mx-auto text-white text-center">
      <div class="d-flex flex-column pe-4 p m-2">
        <div class="call-to-action d-flex flex-column">
          <h1 class="display-4">what the <strong>HELP</strong>!</h1>
          <p class="lead mb-0">A place for KINDNESS,
          <br>
          A place for YOU.
          </p>
          <br>
          <%=link_to "/donations/new" do %>
            <p class="btn btn-primary"><i class="fa-solid fa-hand-heart"></i>Start here</p>
          <%end%>
        </div>
      </div>
      <img class="image" src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
   </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h2 class="text-center"> This is how to make a difference </h2>
  <div class="d-flex justify-content-between align-content-center mt-5">
    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/7290/7290863.png" alt>
      <br>
      <h4> Let's start with the basics </h4>
      <p> Sign up with your name and location</p>
    </div>
    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/3911/3911932.png" alt>
      <br>
      <h4> Tell us your story </h4>
      <p> Let our helpers know what you need </p>
    </div>
    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/8021/8021362.png" alt>
      <br>
      <h4> Share with friends and family </h4>
      <p> There are plenty of helpers around here </p>
    </div>
  </div>
</div>
