<div class="container">
<div class="conatiner">
<div class="container my-3">
  <div class="row">
    <% @donations.each do |donation| %>
      <div class="card-trip  ">
        <div class="card-trip-infos">
          <div>
           <h2><%= donation.donation_name %></h2>
          </div>
        </div>

        <div>
          <%# cl_image_tag donation.image.key, height: 300, width: 400, crop: :fill if donation.image.key%>
        </div>
        <br>

        <div>
          <%= link_to 'Donation', donation,class:"btn btn-outline-primary rounded-4 ms-2 mb-2" %>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

<div class="container">
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
</div>
