
<div class="container my-3">
  <div class="row">
    <% @donations.each do |donation| %>
      <div class="card-trip  ">
        <div class="card-trip-infos">
          <div>
           <h2><%= donation.donation_name %></h2>
          </div>
        </div>

        <div>
          <%= cl_image_tag donation.image.key, height: 300, width: 400, crop: :fill if donation.image.key%>
        </div>
        <br>

        <div>
          <%= link_to 'Donation', donation,class:"btn btn-outline-primary rounded-4 ms-2 mb-2" %>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
