a.btn {
  padding: 8px 24px;
}

.btn-success {
  color: white;
  font-weight: bold;
  background: linear-success(#167FFB, #28A745);
  transition: background 0.3s ease;
  border: 1px solid #28A745;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-danger {
  color: white;
  font-weight: bold;
}

.btn-warning {
  color: white;
  font-weight: bold;
}

.btn-primary {
  color: white;
  font-weight: bold;
}

.btn-index-donation {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #02a95c;
  transition: background 0.3s ease;
  font-family: work sans;
}

.btn-index-donation:hover {
  background: #02a95c;
  color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn {
  padding: 8px 24px;
}

.btn-chat-delete {
  background: #CBE3FA;
  padding: 8px 24px;
  border-radius: 4px;
  border: #499CEC;
  color: #56585A;
  font-weight: bold;
}

.btn-chat {
  background: #CBE3FA;
  padding: 8px 24px;
  border-radius: 4px;
  border: #499CEC;
  color: #56585A;
  font-weight: bold;
}

.btn-chat:hover {
  background: #9BC8F3;
  color: white;
}

.btn-chat-delete:hover {
  background: #BC4E57;
  color: white;
}

.btn-donation-now {
  background: #fdbb7a;
  padding: 8px 24px;
  border-radius: 4px;
  border: #499CEC;
  color: #56585A;
  font-weight: bold;
}

.btn-donation-now:hover {
  background: #9BC8F3;
  color: white;
}

.btn-send {
  background: #CBE3FA;
  padding: 6px 24px;
  border-radius: 4px;
  border: #499CEC;
  color: #56585A;
  font-weight: bold;
}
