.mapbox {

}

.profile_login {
  border-right: 1px solid;
  color:white;
}

.card-title {
color: #0D9573;
}

.a-progress-bar {
  background-color: #e6f6ef;
  color: #0D9573;
  border-radius: 15px;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.donation-card {
  width: 30%;
}

.title-campaigns {
  font-family: ibm plex serif;
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: 900;
  color: #4c5057;
}

.heading-campaigns {
  font-family: work sans;
  font-size: 1.5rem;
  font-weight: 100;
  color: #4c5057;
}

.h5 {
  color: #56585b;
}
