.mapbox {

}

.profile_login {
  border-right: 1px solid;
  color:white;
}

.card-title {
color: #0D9573;
}

.a-progress-bar {
  background-color: #e6f6ef;
  color: #0D9573;
  border-radius: 15px;
}

.donation-img {
  background-size: cover;
  height: 300px;
  object-fit: cover;
}

.donation-body {


}

.donation-card {
  width: 30%;
}

.title-campaigns {
  font-family: roboto;
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: 900;
  color: #4c5057;
}

.heading-campaigns {
  font-family: roboto;
  font-size: 1.5rem;
  font-weight: 100;
  color: #4c5057;
}

.h5 {
  color: #56585b;
}
