.mapbox {

}

.profile_login {
  border-right: 1px solid;
  color:white;
}

.card-title {
color: #0D9573;
}

.a-progress-bar {
  background-color: #e6f6ef;
  color: #0D9573;
  border-radius: 15px;
}

.donation-img {
  background-size: cover;
  height: 300px;
  object-fit: cover;
}

.donation-body {


}

.donation-card {
  width: 30%;

}

.chatroom {
  margin: 80px;
}
