.card-form {
  margin: 2% 15%;
  padding: 2% ;
  background: white;
  border: 2px #52AFA6 solid;
  border-radius: 4px;
}
.card-sign-up {
  margin: 2% 15%;
  padding: 2% ;
  background: white;
  border: 2px #52AFA6 solid;
  border-radius: 4px;
}

.form-inputs {
  text-align: left;
}
