
#success{
  // position: absolute;
  width: 340px;
  height: 450px;
  margin: 0 auto;
  // left: 12%;
  background: linear-gradient(to bottom right, #02a95c 40%, #b6b8b7 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 16px rgba($gray, 5%);
  perspective: 30px;
}

#stars {
  position: relative;
  top: 58%;
  // left: 32%;
  outline: 0;
  border: none;
  margin: 5px auto;
  margin-left: 80px;
  margin-right: 80px;
}
.message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 44%;
}

.button-box {
  position: absolute;
  top: 85%;
  left: 27%;
  outline: 0;
  border: none;
  font-weight: bolder;
  color:white;
}

.fa-star {
  color: #f8f707;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.heart {
  top: 13%;
  left: 41%;
  background: red;
  position: relative;
  height: 60px;
  width:60px;
  /* Animation */
  transform: rotate(-45deg) scale(1);
  animation: pulse 2s linear infinite;
}


.heart::after {
  /* background:blue; */
  background:inherit;
  border-radius: 50%; /* To make circle */
  content:'';
  position:absolute;
  /* top: -100px;*/
  top: -50%; /* Inherit properties of parent */
  /* left: -100px; */
  left:0;
  height: 60px;
  width:60px;
}
.heart::before {
/*  background:green; */
  background:inherit;
  border-radius: 50%; /* To make circle */
  content:'';
  position:absolute;
  top:0;
  right:-50%; /* Inherit properties of parent */
  height: 60px;
  width:60px;
}

@keyframes pulse{
  0% {
      transform: rotate(-45deg) scale(1);
      opacity: 0;
  }/*
  10% {
      transform: rotate(-45deg) scale(1.3);
  }
  20% {
      transform: rotate(-45deg) scale(0.9);
  }
  30% {
      transform: rotate(-45deg) scale(1.2);
  }
  40% {
      transform: rotate(-45deg) scale(0.9);
  }*/
  50% {
      transform: rotate(-45deg) scale(1.3);
      opacity: 1;
  }/*
  60% {
      transform: rotate(-45deg) scale(0.95);
  }
  70% {
      transform: rotate(-45deg) scale(1);
  } */
  100% {
      transform: rotate(-45deg) scale(1);
      opacity: 1;
  }
}
