<div class="container">
  <h3 class= "text-center mt-4 mb-4">Thanks for your review !</h3>
  <div id="success" class= "mb-4">
    <div class="face mt-2">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message"><p><%= @review.content %></p></div>
    <br>
    <div id= "stars" class= "d-flex align-content-center align-items-center m">
      <% @review.rating.times do %>
        <i class="fas fa-star"></i>
      <% end %>
    </div>
    <div>
      <%= link_to "Back to Home", root_path, class: "btn button-box btn-outline-secondary " %>
    </div>
  </div>
</div>
